@model IEnumerable<PorraGirona.Models.Entity.Puntuacion>

@{
    ViewData["Title"] = "Puntuacions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Estils a Puntuacions*/
    body {
        background-image: url("images/puntuacions.jpg");
        background-color: #EA6878;
        background-position: center;
        background-size: cover;
        background-blend-mode: luminosity;
    }

    h1 {
        color: white;
    }

    .contenidor {
        margin-left: 25%;
        padding: 50px;
        background-image: url("images/papiro_955.png");
        width: fit-content;
        height: 955px;

    }

    .table {
        color: black;
        width: 200px;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 50%;
        transform: translateX(-50%);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .centrar {
        text-align: center;
    }
    
    a {
        color: black;
    }

</style>

<h1>Puntuacions</h1>
<div class="contenidor">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Alias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puntuacio)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="PronPorres" asp-action="Index" asp-route-id="@item.Idpenyista">@Html.DisplayFor(modelItem => item.Alias)</a>
                    </td>
                    <td class="centrar">
                        @Html.DisplayFor(modelItem => item.Puntuacio)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

