@model PorraGirona.Models.Entity.Partit

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Partit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datainici)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datainici)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jornada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jornada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Golslocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Golslocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Golsvisitant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Golsvisitant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finalitzat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finalitzat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idsjugadorslocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idsjugadorslocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idsjugadorsvisitant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idsjugadorsvisitant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdequiplocalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdequiplocalNavigation.Idequip)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdequipvisitantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdequipvisitantNavigation.Idequip)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idpartit" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
