@model IEnumerable<PorraGirona.Models.Entity.PronPorres>

@{
    ViewData["Title"] = "Pronostics de Porres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    div#historic {
        text-align: center;

        width: 50%;
        height: auto;
    }

    p#historic {
        color: red;
    }

    div.bloc {
        background-color: red;
        color: white;

        display: block;
        margin-bottom: 10px;

        width: 100%;
        height: auto;
    }

    div.info{
        display: flex;
    }

    div.local, div.visitant, div.marcador {
        width: 33%;
        height: 100%;
    }

    p.pronostic {
        display: inline;
        background-color: white;
        color: black;
        font-size: 3em;

        margin: 0px 10px 0px 5px;
        padding: 0px 5px 0px 5px
    }

    p.resultat {
        background-color: red;
        color: white;
    }

</style>

<h1>Pronòstics de Porres</h1>

<p>
<!--
    <a asp-action="Create">Create New</a> 
-->
</p>

<!--Html.DisplayNameFor(model => model.Jornada)-->
<!--Html.DisplayFor(modelItem => item.Jornada)-->

<div id="historic">
    <p id="historic">Històric</p>

    @foreach (var item in Model) {
    <div class="bloc">
        <p id="jornada">Jornada @Html.DisplayFor(modelItem => item.Jornada)
        - @Html.DisplayFor(modelItem => item.Datainici) 
        </p>
        
        <div class="info">
            <div class="local">
                <p>@Html.DisplayFor(modelItem => item.Local)</p>
            </div>

            <div class="marcador">
                <p>Pronòstic</p>
                    <p class="pronostic">@Html.DisplayFor(modelItem => item.Predlocal)</p>
                    <p class="pronostic">@Html.DisplayFor(modelItem => item.Predvisitant)</p>
                <p>___________________</p>
                    <p class="pronostic resultat">@Html.DisplayFor(modelItem => item.Golslocal)</p>
                    <p class="pronostic resultat">@Html.DisplayFor(modelItem => item.Golsvisitant)</p>
                <p>Resultat</p>
            </div>

            <div class="visitant">
                <p>@Html.DisplayFor(modelItem => item.Visitant)</p>
            </div>
        </div>
    </div>    

    }
</div>
