@model IEnumerable<PorraGirona.Models.Entity.PronPorres>

@{
    ViewData["Title"] = "Pronostics de Porres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jornada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datainici)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visitant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predlocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predvisitant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Golslocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Golsvisitant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jornada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datainici)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visitant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predlocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predvisitant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Golslocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Golsvisitant)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
